<header>
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"

        {% if page.type == "main" %}
                class="active"
        {% endif %}

        ><a href="/">Home</a></li>

        <li role="presentation"
        {% if page.type == "blog" %}
                class="active"
        {% endif %}
        ><a href="/blog/">Blog</a></li>

        <li role="presentation"
        {% if page.type == "about" %}
                class="active"
        {% endif %}
        ><a href="/about/">About author</a></li>
      </ul>
    </nav>

    <a style="color:white;text-decoration: none;" href="/" role="button">
        <h3 class="text-muted">
              <img src="/assets/images/user_icon.png" alt="userIcon" class="img-circle" height="40" width="40">
        Android Applications</h3>
    </a>

  </div>
</header>
