<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
 <meta name="description" content="SVG Viewer made by Bostan Constantin">
 <meta name="author" content="Bostan Constantin">
 <link rel="shortcut icon" href="/assets/img/pumpkin.png">

 <title>SVG Viewer App</title>

 <!-- Bootstrap core CSS -->
 <link href="/css/bootstrap.min.css" rel="stylesheet">

 <!-- Custom styles for this template -->
 <link href="/css/custom.css" rel="stylesheet">
 <link href="/css/flexslider.css" rel="stylesheet">

 <link href="/css/font-awesome.min.css" rel="stylesheet">
 <link href='/css/css_roboto_condensed.css' rel='stylesheet' type='text/css'>
 <link href='/css/noto_sans.css' rel='stylesheet' type='text/css'>

 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
		</head>

      <body>

          <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="/">
                     <span class="fa-stack fa-lg">
                        <img class="bottom" src="/assets/svg/pumpkin.svg" alt="pumpkin">
                    </span>
                    <span class="title">Costea's Apps</span>
                </a>
            </div>
            <div class="collapse navbar-collapse appiNav">
              <ul class="nav navbar-nav">
                 <li><a href="#topWrap">Download</a></li>
                 <li><a href="#featureWrap">Description</a></li>
                 <li><a href="#productWrap">Features</a></li>
                 <li><a href="#pricingWrap">In-app products</a></li>
             </ul>
         </div>
     </div>
 </div>

 {{ content }}

 <footer>
  <div class="container">

    <div class="row">
        <div class="col-xs-12 text-center">
           <p>Support: costea.bostan@gmail.com</p>
       </div>
   </div>

   <div class="row">
    <div class="col-xs-12 text-center">
       <p>Copyright &copy; 2016 Pumpkin Apps. All Rights Reserved</p>
   </div>
</div>
</div>
</footer>


            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="/js/jquery.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/flexslider.js"></script>

            <script type="text/javascript">
                $(document).ready(function() {

                   $('.mobileSlider').flexslider({
                      animation: "slide",
                      slideshowSpeed: 3000,
                      controlNav: false,
                      directionNav: true,
                      prevText: "&#171;",
                      nextText: "&#187;"
                  });
                   $('.flexslider').flexslider({
                      animation: "slide",
                      directionNav: false
                  });

                   $('a[href*=#]:not([href=#])').click(function() {
                      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') || location.hostname == this.hostname) {
                         var target = $(this.hash);
                         target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                         if ($(window).width() < 768) {
                            if (target.length) {
                               $('html,body').animate({
                                  scrollTop: target.offset().top - $('.navbar-header').outerHeight(true) + 1
                              }, 1000);
                               return false;
                           }
                       }
                       else {
                        if (target.length) {
                           $('html,body').animate({
                              scrollTop: target.offset().top - $('.navbar').outerHeight(true) + 1
                          }, 1000);
                           return false;
                       }
                   }

               }
           });

                   $('#toTop').click(function() {
                      $('html,body').animate({
                         scrollTop: 0
                     }, 1000);
                  });

                   var timer;
                   $(window).bind('scroll',function () {
                    clearTimeout(timer);
                    timer = setTimeout( refresh , 50 );
                });
                   var refresh = function () {
                      if ($(window).scrollTop()>100) {
                         $(".tagline").fadeTo( "slow", 0 );
                     }
                     else {
                         $(".tagline").fadeTo( "slow", 1 );
                     }
                 };

             });

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58694546-2', 'auto');
            ga('send', 'pageview');

         </script>

     </body>
     </html>
